/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/Clase2/nbproject/private/
/Java/Clase2/build/
/Java/Clase3/nbproject/private/
/Java/Clase3/build/
/Java/Clase4/nbproject/private/
/Java/Clase4/build/
/Java/Clase5/nbproject/private/
/Java/Clase6/nbproject/private/
/Java/Clase6/build/
/Java/Clase7/nbproject/private/
/Java/Clase7/build/
/Java/Clase8/nbproject/private/
/Java/Clase8/build/
/Java/Clase9/nbproject/private/
/Java/Clase9/build/
/Java/Clase10/nbproject/private/
/Java/Clase10/build/
/Java/Clase1/Leccion1/HolaMundo/build/
/Java/Clase1/Leccion1/HolaMundo/nbproject/private/
.idea/
desktop.ini
